:root {
    --base-color: #D6D58B;
    --error-num-color: #A80000;
    --error-meaning-color: #5C4D2F;
    --theme-base-color: #B3B347;
    --shadow-color: #000;
}

.darkmode {
    --base-color: #5C4D2F;
    --error-num-color: #fff;
    --error-meaning-color: #212420;
    --theme-base-color: #212420;
    --shadow-color: #70685e;
}


@font-face {
    font-family: 'MinecraftFont';
    src: url('fonts/minecraft-ten-font-cyrillic.ttf');
}

body {
    margin: 0;
    background-color: var(--base-color);
    font-family: 'MinecraftFont', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    text-align: end;
}

header img {
    height: 40px;
}

#theme-switch {
    background-color: var(--theme-base-color);
    border: 2px solid white;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: all 0.1s ease-in-out;
}

#theme-switch:hover {
    transform: scale(1.02);
    filter: brightness(90%);
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.page-info {
    text-align: center;
}

#warden {
    height: 600px;
}

#table {
    height: 200px;
    margin-top: 20px;
}

h1 {
    color: var(--error-num-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
    font-size: 100px;
    margin: 0px 0px;
}

h2 {
    color: var(--error-meaning-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
    font-size: 50px;
    margin: 0px 0px;
}

.buttons img {
    height: 60px;
}

a{
    transition: all 0.1s ease-in-out;
}

a:hover {
    transform: scale(1.03);
    filter: brightness(80%);
}

.buttons {
    margin-top: 20px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}