:root {
    --base-color: #D6D58B;
    --error-num-color: #A80000;
    --error-meaning-color: #5C4D2F;
    --theme-base-color: #B3B347;
    --shadow-color: #000;
}

.darkmode {
    --base-color: #5C4D2F;
    --error-num-color: #fff;
    --error-meaning-color: #212420;
    --theme-base-color: #212420;
    --shadow-color: #70685e;
}


@font-face {
    font-family: 'MinecraftFont';
    src: url('fonts/minecraft-ten-font-cyrillic.ttf');
}

body {
    margin: 0;
    background-color: var(--base-color);
    font-family: 'MinecraftFont', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* header - light/dark mode switch */

header {
    text-align: end;
}

header img {
    height: 30px;
}

#theme-switch {
    background-color: var(--theme-base-color);
    border: 2px solid white;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    transition: all 0.1s ease-in-out;
}

#theme-switch:hover {
    transform: scale(1.02);
    filter: brightness(90%);
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

/* main part */

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-info {
    text-align: center;
}

#warden {
    height: 500px;
}

#table {
    height: 170px;
    margin-top: 20px;
}

h1 {
    color: var(--error-num-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
    font-size: 90px;
    margin: 0px 0px;
}

h2 {
    color: var(--error-meaning-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
    font-size: 45px;
    margin: 0px 0px;
}

.buttons img {
    height: 45px;
}

a{
    transition: all 0.1s ease-in-out;
}

a:hover {
    transform: scale(1.03);
    filter: brightness(80%);
}

.buttons {
    margin-top: 20px;
    width: 370px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 980px) {
    #warden {
        height: 400px;
    }

    #table {
        height: 135px;
        margin-top: 15px;
    }

    h1 {
        color: var(--error-num-color);
        text-shadow: 2px 2px 2px var(--shadow-color);
        font-size: 72px;
        margin: 0px 0px;
    }

    h2 {
        color: var(--error-meaning-color);
        text-shadow: 2px 2px 2px var(--shadow-color);
        font-size: 35px;
        margin: 0px 0px;
    }

    .buttons img {
        height: 40px;
    }

    .buttons {
        margin-top: 15px;
        width: 300px;
    }
}

@media (max-width: 730px) {
    .container {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 20px;
        text-align: center;
        justify-content: flex-end;
    }

    .buttons img {
        height: 50px;
    }

    .buttons {
        margin-top: 15px;
        width: 370px;
    }

    #warden {
        height: 260px;
    }
}

@media (max-width: 400px) {
    .container {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 20px;
        text-align: center;
        justify-content: flex-end;
    }

    .buttons img {
        height: 35px;
    }

    .buttons {
        margin-top: 15px;
        width: 280px;
    }

    #table {
        height: 110px;
        margin-top: 15px;
    }

    #warden {
        height: 200px;
    }

    header img {
    height: 15px;
    }

    #theme-switch {
        border: 1px solid white;
        border-radius: 30px;
        height: 30px;
        width: 30px;
        top: 10px;
        right: 10px;
    }
}