.mainSection {
    background-image: url('/img/main-image.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}