@font-face {
  font-family: "MinecraftSeven";
  src: url("/img/fonts/Minecraft Seven_2.ttf") format("truetype");
}

.button {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 59px;
  padding: 0px 0px 10px 0px ;
  border: none;
  background-image: url("/img/кнопка-bg.png");
  background-repeat: no-repeat;
  font-family: "MinecraftSeven", sans-serif;
  font-size: 24px;
  color: #EAEAEA;
  text-shadow: 3px 3px 0 #3F3F3F;
  cursor: pointer;
  transition: all 0.1s ease;
}

.button:hover {
  filter: brightness(70%);
  transform: scale(1.02);
  transition: all 0.1s ease;
}

