.contact-main {
  background-color: #070e14;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  font-family: $font-geologica;
  color: #3c9bf9;
  justify-items: center;

  h1 {
    grid-column: 1 / -1;
    font-family: $font-minecraft;
    font-size: 30px;
    line-height: 1.4;
    text-align: center;
    margin-top: 20px;
  }
}
