:root {
    --big-title-color: #3C9BF9;
    --big-title-shadow: #003E7CB0;
    --small-title-color: #3C9BF9;
    --description-color: #ECF7FF;
    --background-color: #070E14;

}

@font-face {
    font-family: 'MinecraftFont';
    src: url('img/fonts/minecraft-ten-font-cyrillic.ttf') format('truetype');
}

@font-face {
    font-family: 'GeologicaFont';
    src: url('img/fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf') format('truetype');
}

.section {
  background-color: var(--background-color);
  padding: 100px 40px 60px 40px;
  width: 100%;
  box-sizing: border-box;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: 'MinecraftFont', sans-serif;
  color: var(--big-title-color);
  text-shadow: 5px 5px 0 var(--big-title-shadow);
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 60px;
}

.card {
  text-decoration: none;
  display: block;
  flex: 0 0 calc((100% - 40px) / 3);
}

.card:not(.extended) .imageWrapper img {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  object-fit: cover;
}

.card.extended .imageWrapper img {
  width: 100%;
  aspect-ratio: 1360 / 440;
  height: auto;
  object-fit: cover;
}

.projectInfo {
  margin-top: 30px;
  font-family: 'GeologicaFont', sans-serif;
  text-align: left;
}

.projectInfo h3 {
    color: var(--small-title-color);
    font-size: 40px;
    font-weight: 500;
}

.projectInfo p {
    color: var(--description-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card.extended {
  flex: 0 0 100%;
}

@media (max-width: 1024px) {
  .section {
    padding: 80px 30px;
  }

  .card {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}

@media (max-width: 768px) {
  .section {
    padding: 60px 20px;
  }

  .title {
    font-size: 42px;
    margin-bottom: 40px;
  }

  .card,
  .card.extended {
    flex: 0 0 calc((100% - 20px) / 2);
  }

  .projectInfo h3 {
    font-size: 28px;
  }

  .projectInfo p {
    font-size: 16px;
  }

  .card.extended .imageWrapper img {
    aspect-ratio: 1 / 1;
  }
}

@media (max-width: 480px) {
  .card,
  .card.extended {
    flex: 0 0 100%;
  }
}