@font-face {
  font-family: GeologicaFont;
  src: url("/img/fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: MinecraftTenFont;
  src: url("/img/fonts/minecraft-ten-font-cyrillic.ttf") format("truetype");
}

@font-face {
  font-family: MinecraftSeven;
  src: url("/img/fonts/Minecraft Seven_2.ttf") format("truetype");
}

$font-minecraft-seven: minecraftseven, sans-serif;
$font-minecraft: minecrafttenfont, sans-serif;
$font-geologica: geologicafont, sans-serif;
