.forbidden-page {
    --base-color: #D6D58B;
    --error-num-color: #A80000;
    --error-meaning-color: #5C4D2F;
    --theme-base-color: #8F8F2A;
    --shadow-color: #000;
    --btn-primary-bg: #313131;
    --btn-primary-text: whitesmoke;
    --btn-secondary-bg: whitesmoke;
    --btn-secondary-text: #313131;
    --btn-secondary-border: #313131;
    --btn-tertiary-text: #313131;
    --text-color: #313131;
}

.forbidden-page.darkmode {
    --base-color: #5C4D2F;
    --error-num-color: #fff;
    --error-meaning-color: #D4C8A0;
    --theme-base-color: #212420;
    --shadow-color: #2c2b2a;
    --btn-primary-bg: #8F8F2A;
    --btn-primary-text: #ffffff;
    --btn-secondary-bg: transparent;
    --btn-secondary-text: #EDEAD8;
    --btn-secondary-border: #8F8F2A;
    --btn-tertiary-text: #EDEAD8;
    --text-color: #EDEAD8;
}

@font-face {
    font-family: 'MinecraftFont';
    src: url('fonts/minecraft-ten-font-cyrillic.ttf');
}

@font-face {
    font-family: 'MinecraftFontLight';
    src: url('fonts/minecraft.ttf');
}

.forbidden-page {
    font-family: MinecraftFont, sans-serif;
    min-height: 100vh;
    background-color: var(--base-color); 
    transition: background-color 0.3s ease;
    color: var(--text-color);

}

.light-font {
    font-family: MinecraftFontLight, sans-serif;
}

/* header - light/dark mode switch */

.forbidden-page header {
    text-align: end;
    position: relative;
}

.forbidden-page header img {
    height: 30px;
    width: 30px;
    display: block;
}

#theme-switch {
    background-color: var(--theme-base-color);
    border: 2px solid white;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    transition: all 0.1s ease-in-out;
    z-index: 1000;
}

#theme-switch:hover {
    transform: scale(1.02);
    filter: brightness(90%);
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

/* main part */

.forbidden-content {
    min-height: calc(100vh - 80px);
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.page-info {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
}

#warden {
    height: 450px;
    max-width: 100%;
    object-fit: contain;
}

#table {
    height: 170px;
    margin-top: 20px;
    max-width: 100%;
    object-fit: contain;
}

.forbidden-page h1 {
    color: var(--error-num-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
    font-size: 90px;
    margin: 0px 0px;
}

.forbidden-page h2 {
    color: var(--error-meaning-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
    font-size: 45px;
    margin-bottom: 20px;
}

p {
    color: var(--text-color);
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}

.forbidden-page.darkmode p {
    text-shadow: 2px 2px 2px var(--shadow-color);
}

/* buttons */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.primary-btn {
    color: var(--btn-primary-text);
    background-color: var(--btn-primary-bg);
    text-decoration: none;
    padding: 10px;
    width: 150px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.secondary-btn {
    color: var(--btn-secondary-text);
    background-color: var(--btn-primary-text);
    padding: 8px 10px;
    border: 2px solid var(--btn-secondary-border);
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
}

.tertiary-btn {
    text-decoration: none;
    color: var(--btn-tertiary-text);
    padding: 8px;
    transition: all 0.3s ease;
}

.primary-btn:hover,
.secondary-btn:hover,
.tertiary-btn:hover {
    transform: scale(1.02);
    filter: brightness(90%);
}

.tertiary-btn:hover {
    border-bottom-color: var(--btn-tertiary-text);
}

/* media-queries */

@media (max-width: 1200px) {
    .forbidden-content {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 20px;
        min-height: auto;
    }

    #warden {
        height: 370px;
        margin-bottom: 20px;
    }

    .page-info {
        order: 1;
        width: 100%;
        padding: 0 15px;
    }

    h1 {
        font-size: 60px; 
    }

    h2 {
        font-size: 30px;
    }

    .buttons {
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 480px) {
    #warden {
        height: 200px;
    }

    .forbidden-page h1 {
        font-size: 70px;
    }

    .forbidden-page h2 {
        font-size: 30px;
    }

    .primary-btn, .secondary-btn, .tertiary-btn {
        width: 100%;
        max-width: 280px;
    }
}