.notfound-page {
    --base-color: #D6D58B;
    --error-num-color: #A80000;
    --error-meaning-color: #5C4D2F;
    --theme-base-color: #8F8F2A;
    --shadow-color: #000;
    --btn-primary-bg: #313131;
    --btn-primary-text: whitesmoke;
    --btn-secondary-bg: whitesmoke;
    --btn-secondary-text: #313131;
    --btn-secondary-border: #313131;
    --text-color: #313131;
}

.notfound-page.darkmode {
    --base-color: #5C4D2F;
    --error-num-color: #fff;
    --error-meaning-color: #D4C8A0;
    --theme-base-color: #212420;
    --shadow-color: #2c2b2a;
    --btn-primary-bg: #8F8F2A;
    --btn-primary-text: #ffffff;
    --btn-secondary-bg: transparent;
    --btn-secondary-text: #EDEAD8;
    --btn-secondary-border: #8F8F2A;
    --text-color: #EDEAD8;
}

@font-face {
    font-family: 'MinecraftFont';
    src: url('fonts/minecraft-ten-font-cyrillic.ttf');
}

@font-face {
    font-family: 'MinecraftFontLight';
    src: url('fonts/minecraft.ttf');
}

.light-font {
    font-family: MinecraftFontLight, sans-serif;
}

/* header - light/dark mode switch */

.notfound-page header {
    text-align: end;
    position: relative;
}

.notfound-page header img {
    height: 30px;
    width: 30px;
    display: block;
}

#theme-switch {
    background-color: var(--theme-base-color);
    border: 2px solid white;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    transition: all 0.1s ease-in-out;
    z-index: 1000;
}

#theme-switch:hover {
    transform: scale(1.02);
    filter: brightness(90%);
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

/* main part */

.notfound-page {
    font-family: MinecraftFont, sans-serif;
    min-height: 100vh;
    background-color: var(--base-color); 
    transition: background-color 0.3s ease;
    color: var(--text-color);
    text-align: center;
}

.notfound-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.notfound-page h1 {
    color: var(--error-num-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
    font-size: 90px;
    margin: 0px 0px;
}

.notfound-page h2 {
    color: var(--error-meaning-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
    font-size: 45px;
    margin-bottom: 20px;
}

p {
    color: var(--text-color);
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}

.notfound-page.darkmode p {
    text-shadow: 2px 2px 2px var(--shadow-color);
}

/* buttons */

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.primary-btn {
    color: var(--btn-primary-text);
    background-color: var(--btn-primary-bg);
    text-decoration: none;
    padding: 10px;
    width: 150px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.secondary-btn {
    color: var(--btn-secondary-text);
    padding: 8px 10px;
    border: 2px solid var(--btn-secondary-border);
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
}

.primary-btn:hover,
.secondary-btn:hover {
    transform: scale(1.02);
    filter: brightness(90%);
}

/* media queries */

@media (max-width: 600px) {
  .notfound-content {
    min-height: auto;       
    padding-top: 100px;     
    justify-content: flex-start; 
    gap: 20px;              
  }

  .notfound-page h1 {
    font-size: 60px;        
  }

  .notfound-page h2 {
    font-size: 30px;        
  }

  p {
    font-size: 14px;        
  }

  .buttons {
    flex-direction: column; 
    gap: 15px;
    margin-top: 0;
  }

  .primary-btn, .secondary-btn {
    width: 120px;
    padding: 8px;
  }
}