@font-face {
    font-family: 'MinecraftFont';
    src: url('fonts/minecraft-ten-font-cyrillic.ttf');
}

@font-face {
    font-family: 'MinecraftFontLight';
    src: url('fonts/minecraft.ttf');
}

.notfound-page {
    font-family: MinecraftFont, sans-serif;
    min-height: 100vh;
    background-color: var(--base-color); 
    transition: background-color 0.3s ease;
    color: var(--text-color);

}

.light-font {
    font-family: MinecraftFontLight, sans-serif;
}

/* header - light/dark mode switch */

.notfound-page header {
    text-align: end;
    position: relative;
}

.notfound-page header img {
    height: 30px;
    width: 30px;
    display: block;
}

#theme-switch {
    background-color: var(--theme-base-color);
    border: 2px solid white;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    transition: all 0.1s ease-in-out;
    z-index: 1000;
}

#theme-switch:hover {
    transform: scale(1.02);
    filter: brightness(90%);
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}