@font-face {
    font-family: "MinecraftSeven";
    src: url("/img/fonts/Minecraft Seven_2.ttf") format("truetype");
  }

.notification {
    background-image: url('img/notification-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 446px;
    height: 133px;

    font-family: "MinecraftSeven";
    font-size: 23px;
    position: absolute;
    top:175px;
    left: 1100px;
}

.up {
    text-shadow: 3px 3px rgba(62, 62, 62, 1);
    position: relative;
    top: 23px;
    left: 100px;
}

.down {
    color: rgba(84, 252, 84, 1);
    position: relative;
    top: 50px;
    left: 20px;
}