name: CI

on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened, ready_for_review ]
  push:
    branches: [ main ]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  frontend_lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'

      - name: Install deps
        run: npm ci

      - name: ESLint
        run: npx eslint .

#     todo: обновить настройки для линтера
#      - name: Prettier check
#        run: npx prettier --check "**/*.{js,jsx,ts,tsx,json,css,md}"

      - name: Stylelint
        run: npx stylelint "**/*.{css,scss}"

  backend_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Cache uv
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/uv
            .venv
            uv.lock
          key: uv-${{ runner.os }}-${{ hashFiles('pyproject.toml', 'uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-

      - name: Sync deps (with dev)
        run: uv sync --python 3.12 --group dev

      - name: Ruff
        run: uv run ruff check .

      - name: Django tests (sqlite)
        env:
          PYTHONPATH: ${{ github.workspace }}
          DJANGO_SETTINGS_MODULE: backend.settings.prod
          DJANGO_SECRET_KEY: test-secret-key-change-me-please-very-long-1234567890
          DATABASE_URL: sqlite:///./testdb.sqlite3
          DB_SSL_REQUIRED: 'false'
          DJANGO_ALLOWED_HOSTS: localhost,127.0.0.1,api.joutak.ru
          DJANGO_CSRF_TRUSTED_ORIGINS: http://localhost,http://127.0.0.1,https://joutak.ru,https://api.joutak.ru
          CORS_ALLOWED_ORIGINS: http://localhost,http://127.0.0.1,https://joutak.ru
          USE_X_FORWARDED_PROTO: 'false'
          SECURE_SSL_REDIRECT: 'false'
          SECURE_HSTS_SECONDS: '0'
          SESSION_COOKIE_SECURE: 'false'
          CSRF_COOKIE_SECURE: 'false'
          SESSION_COOKIE_SAMESITE: 'None'
          CSRF_COOKIE_SAMESITE: 'None'
        run: |
          uv run python --version
          uv run python backend/manage.py check
          uv run python backend/manage.py test -v 2
